@inherits LayoutComponentBase

<main class="home-background">
    <div id="nav-menu">
        <NavMenu />
    </div>

    <div class="content px-2">
        @Body
    </div>

    <div id="footer">
        <Footer />
    </div>
</main>
