@inherits LayoutComponentBase

<main>
    <div id="nav-menu">
        <NavMenu />
    </div>

    <article class="content px-2">
        @Body
    </article>

    <div id="footer">
        <Footer />
    </div>
</main>
