<div class="navbar navbar-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="Images\house-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Home Value Hub
        </a>

        <div class="d-sm-inline-flex">
            <ProfileButton />
        </div>
    </div>
</div>