.show-menu {
    display: block;
    position: absolute;
    right: 0;
}

.user-button {
    margin-left: .5em;
}

.top-row a {
    margin-left: 0;
}

.dropdown-item:hover {
    background-color: white;
}
